/** SCSS DARK THEME PRIMARY COLORS */ 
$primary-100:  #ff3d3d;
$primary-200:  #ff6a51; 
$primary-300:  #ff7f65; 
$primary-400:  #ff937a; 
$primary-500:  #ffa68f; 
$primary-600:  #ffb8a5;  

/** SCSS DARK THEME SURFACE COLORS */  
$surface-100:  #0f1626; 
$surface-200:  #252b3b; 
$surface-300:  #3d4250; 
$surface-400:  #565a67; 
$surface-500:  #70737e; 
$surface-600:  #8b8d97;  

/** SCSS DARK THEME MIXED SURFACE COLORS */  
$surface-mixed-100:  #833733; 
$surface-mixed-200:  #924d47; 
$surface-mixed-300:  #a1625b; 
$surface-mixed-400:  #b07771; 
$surface-mixed-500:  #be8d87; 
$surface-mixed-600:  #cba39e;  